@page "/"


<div>
    <span>LOG IN</span>
    <br />
    <div>
        <span>as a Student</span>
        
        <a href="/LoginStudent">
            <button>Here</button>
        </a>  
    </div><br />
    <div>
        <span>as a Teacher</span>

        <a href="/LoginTeacher">
            <button>Here</button>
        </a>
    </div>
</div>
