@page "/LoginTeacher"

<h3>Login as a Teacher</h3>

<form>
    <label>email</label>
    <input type="email" />

    <label>password</label>
    <input type="password" />

    <button>LogIn</button>
</form>

@code {

}
