@page "/LoginStudent"
@inject NavigationManager NavigationManager
<h3>Login as a Student</h3>

<EditForm Model="model1">
    <p>
        <InputText @ref="LoginInput" @bind-Value="model1" placeholder="Login" />
        <InputText type="password" @ref="PasswordInput" @bind-Value="model2" placeholder="Password" />
    </p>

    <button @onclick="Submit">Submit</button>
</EditForm>

@code {
    string model1 = "";
    string model2 = "";
    InputText LoginInput;
    InputText PasswordInput;

    void Submit()
    {
        var result = Data.SampleData.Students.Any(e => e.Password == PasswordInput.Value && e.Email == LoginInput.Value);
        if (!result)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        var student = Data.SampleData.Students.Find(e => e.Password == PasswordInput.Value && e.Email == LoginInput.Value);
        NavigationManager.NavigateTo("/StudentPage");
    }

}